body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.shadow {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3) !important;
}

.button-div {
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-top: 16px !important;
}

.button-css {
  border: 1px solid transparent;
  padding: 5px 20px !important;
  border-radius: 4px;
  margin-top: 10px;
  color: #fff;
  text-align: center; /* Center-align the text */
  width: auto !important;
}

.button-css,
.account .progress-bar,
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active,
.react-calendar__tile--active:enabled:focus {
  background: transparent linear-gradient(83deg, #1473ff, #be01ff) 0 0 no-repeat
    padding-box;
  border: unset !important;
  transition: all ease-in-out 1s;
}

.button-css:hover {
  background: transparent linear-gradient(83deg, #be01ff, #1473ff) 0 0 no-repeat
    padding-box;
  border: unset !important;
  transition: all ease-in-out 1s;
}

:focus-visible {
  outline: none;
}
span.error {
  top: 46px;
  text-align: left;
  width: 100% !important;
  display: flex;
  font-size: 13px;
  color: #a90909;
}
